<h1>Creating new user</h1>

<p>Enter all fields to create a new user. He/She will use a default password <code>timecontrol</code></p>

<uib-alert type="danger" ng-show="control.failed_creation" close="control.failed_creation=false">
Could not create a new user! Verify the user information.
<div ng-show="control.failed_username">
&bull; Username
</div>
<div ng-show="control.failed_project">
&bull; Project
</div>
</uib-alert>

<div>
  <form class="form-horizontal" ng-submit="control.add_user()">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" id="inputName" class="form-control" placeholder="Complete Name" ng-model="control.newuser.name" required autofocus>
      </div>
    </div>

    <div class="form-group">
      <label for="inputUsername" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="control.newuser.username" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputRegister" class="col-sm-2 control-label">Registration #</label>
      <div class="col-sm-10">
        <input type="number" id="inputRegister" class="form-control" placeholder="Registration Number" ng-model="control.newuser.register" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputRole" class="col-sm-2 control-label">Role</label>
      <div class="col-sm-10">
        <input type="text" id="inputRole" class="form-control" placeholder="Role" ng-model="control.newuser.role" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputProject" class="col-sm-2 control-label">Project</label>
      <div class="col-sm-10">
        <input type="text" id="inputProject" class="form-control" placeholder="Project Name" ng-model="control.newuser.project" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputLevel" class="col-sm-2 control-label">User Level</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="control.newuser.level" required>
          <option>Human Resource</option>
          <option>Manager</option>
          <option>Common Employee</option>
        </select>
      </div>
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create!">
  </form>
</div>
