<h1>Dashboard</h1>

<!-- Users panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <div class="panel-line">
      <label for="addUser">Add a new user to the system</label>
      <button class="btn btn-default btn-panel" id="addUser" ng-click="control.load('add_user')">Add User</button>
    </div>
    <div class="panel-line">
      <label for="editUser">Edit an existent user or delete</label>
      <button class="btn btn-default btn-panel" id="editUser" ng-click="control.load('edit_user')">Edit User</button>
    </div>
  </div>
</div>

<!-- Projets panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Projects</h3>
  </div>
  <div class="panel-body">
    <div class="panel-line">
      <label for="manageProjects">Manage reportable projects</label>
      <button class="btn btn-default btn-panel" id="manageProjects" ng-click="control.load('projects')">Manage Projects</button>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reports</h3>
  </div>
  <div class="panel-body">
    <div class="panel-line">
      <label for="addReport">Add a new user to the system</label>
      <button class="btn btn-default btn-panel" id="addReport">Report 1</button>
    </div>
    <div class="panel-line">
      <label for="editReport">Edit an existent user or delete</label>
      <button class="btn btn-default btn-panel" id="editReport">Report 2</button>
    </div>
  </div>
</div>
