<!doctype html>
<html ng-app="MyApp">
<head>
  <title>Time Control</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="./js/controller.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/login.css">
</head>
<body ng-controller="MainController as control">

  <!-- Login screen-->
  <div class="container" ng-show="control.show_login">
    <uib-alert type="danger" ng-show="control.failed_login" close="control.failed_login=false">Login failed!</uib-alert>
    <uib-alert type="success" ng-show="control.suceed_login" close="control.suceed_login=false">Login succeed!</uib-alert>
    <form class="form-login" ng-submit="control.login()">
      <h2 class="form-login-heading">Time Login</h2>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="control.user.username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="control.user.password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-lg btn-primary btn-block"  value="Login">
    </form>
  </div>

  <!-- Home screen -->
  <div id="wrapper" ng-show="control.show_home">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
        <a href="#">
          <span class="glyphicon  glyphicon-user" aria-hidden="true"></span>
          {{control.profile.name}}
        </a>
        </li>
        <li>
          <a href="#" ng-click="control.load('dashboard')" aria-label="Left Align">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          Dashboard
          </a>
        </li>
        <li>
          <a href="#" ng-click="control.load('working_time')" aria-label="Left Align">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          Working Time
          </a>
        </li>

        <li>
          <a href="#" ng-click="control.load('')" aria-label="Left Align">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          Time Report
          </a>
        </li>
 
        <li>
          <a href="#" ng-click="control.logout()" aria-label="Left Align">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          Logout
          </a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid" ng-include="control.page"></div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</body>
</html>
