<h3>Reporting Time</h3>

<p>Report worked time. Enter entry and exit times, as well break times.</p>

<!-- Alerts -->
<uib-alert type="danger" ng-show="control.invalid_hours" close="control.invalid_hours=false">Invalid hours range!</uib-alert>

<!-- Display reported time -->
<div class="col-md-12" style="margin-top: 20px;">
  <h4>Time Reported</h4>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Enter Time</th>
        <th>End Time</th>
        <th>Project</th>
        <th>Worked Time</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reported in control.working_vector">
        <td>{{reported.start_time}}</td>
        <td>{{reported.end_time}}</td>
        <td>{{reported.project}}</td>
        <td>{{reported.worked_time}}</td>
        <td>{{reported.comment}}</td>
        <td>
          <a href="" ng-click="">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
          <a href="" ng-click="">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Day Selector-->
<div class="col-md-6">
  <h4>Day Selector</h4>
  <div style="float: left;">
    <uib-datepicker ng-model="control.selected_date" min-date="minDate" show-weeks="true" class="well well-sm" ng-click="control.get_working()"></uib-datepicker>
</div>

</div>
<!-- Date selectors -->
<div class="col-md-6">
  <h4>Working Time</h4>
  <div class="col-md-4">
    <label for="entryDate" class="control-label">Entry Date</label>
  </div>
  <div class="input-group col-md-6">
    <input type="text" class="form-control" id="entryDate" uib-datepicker-popup="{{control.date_format}}" ng-model="control.entry_date" is-open="control.opened" ng-required="true" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="control.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </div>

  <div class="col-md-4">
    <label>Entry time</label>
  </div>
  <div class="col-md-6">
    <uib-timepicker ng-model="control.entry_date" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
  </div>

  <div class="col-md-4">
    <label for="endDate" class="control-label">End Date</label>
  </div>
  <div class="input-group col-md-6">
    <input type="text" class="form-control" id="endDate" uib-datepicker-popup="{{control.date_format}}" ng-model="control.end_date" ng-change="control.update_worked()" is-open="control.opened_end" ng-required="true" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="control.opened_end=true"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </div>

  <div class="col-md-4">
    <label>End time</label>
  </div>
  <div class="col-md-6">
    <uib-timepicker ng-model="control.end_date" ng-change="control.update_worked()" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
  </div>

  <div class="col-md-4">
    <label>Worked Time</label>
  </div>
  <div class="col-md-6">
      <input class="form-control" ng-model="control.worked_time.total_str" type="text" readonly>
  </div>

  <div class="col-md-4" style="margin-top: 10px">
    <label for="inputProject">Project</label>
  </div>
  <div class="col-md-6" style="margin-top: 10px">
    <input type="text" id="inputProject" class="form-control" placeholder="Project Name" uib-typeahead="project for project in control.projects | filter:$viewValue | limitTo:8" ng-model="control.worked_time.project" autocomplete="off"required>
  </div>

  <div class="col-md-4" style="margin-top: 10px">
    <label>Comment</label>
  </div>
  <div class="col-md-6" style="margin-top: 10px">
    <textarea class="form-control" rows="3" ng-model="control.worked_time.comment"></textarea>
  </div>

  <button class="btn btn-default" ng-click="control.add_working()">Submit Time</button>
</div>
